# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Alembic cache
alembic/versions/__pycache__/

# OS
.DS_Store
Thumbs.db